<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav class="menu">

		<input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		<label for="menu-checkbox" class="menu__toggler">☰</label>
        <div class="logo"> <a class="menu__link" href="/"> KAROLÍNA </a></div>
		<ul class="menu__list">
			<li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
			<li class="menu__item"><a class="menu__link" href="/biografie/">Biografie</a></li>
			<li class="menu__item"><a class="menu__link" href="/vystoupeni/">Vystoupení</a></li>
			<li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
		</ul>

	    </nav>  

<main>
{{ content | safe }}
</main>

<footer> 
    <div class="footer"> 
        <div class="footer_icons"> 
        <a href="https://www.instagram.com/krausova1370/" target="blank"> <img class="icon" src="/images/ikony/instagram_footer.svg" alt="instagram"> </a> 
        <a href="https://www.facebook.com/karolina.jagerova/" target="blank"> <img class="icon" src="/images/ikony/facebook_footer.svg" alt="facebook"></a>
        <a href="https://open.spotify.com/track/0fzePKAoLJpQLCgS2HdXDB" target="blank"> <img class="icon" src="/images/ikony/spotify_footer.svg" alt="spotify"> </a> 
    </div>

    <div class="footer_signature"> 
        <a href="https://terez-dela-stranky.netlify.app/" target="blank" class="footer_signature"> © 2022 Tereza Černá </a> </div>
   

</div>
</footer>
<script src="/js/fslightbox.js"></script>
</body>
</html>